################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/64drive_usb/Debug
/64drive_usb/.vs/64drive_usb/v16
